<%= form_for @player do |f| %>
  <%= render partial: 'shared/errors', object: @player, locals: { model: "player" } %>

  <fieldset>
    <div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :confirm_password %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  </fieldset>
  <div>
    <%= f.submit %>
  </div>
<% end %>
